#Acer
SUBSYSTEM=="usb", SYSFS{idVendor}=="0502", MODE="0666", GROUP="plugdev"
#ASUS
SUBSYSTEM=="usb", SYSFS{idVendor}=="0b05", MODE="0666", GROUP="plugdev"
#Dell
SUBSYSTEM=="usb", SYSFS{idVendor}=="413c", MODE="0666", GROUP="plugdev"
#Foxconn
SUBSYSTEM=="usb", SYSFS{idVendor}=="0489", MODE="0666", GROUP="plugdev"
#Fujitsu
SUBSYSTEM=="usb", SYSFS{idVendor}=="04c5", MODE="0666", GROUP="plugdev"
#Fujitsu Toshiba
SUBSYSTEM=="usb", SYSFS{idVendor}=="04c5", MODE="0666", GROUP="plugdev"
#Garmin-Asus
SUBSYSTEM=="usb", SYSFS{idVendor}=="091e", MODE="0666", GROUP="plugdev"
#Google
SUBSYSTEM=="usb", SYSFS{idVendor}=="18d1", MODE="0666", GROUP="plugdev"
#Hisense
SUBSYSTEM=="usb", SYSFS{idVendor}=="109b", MODE="0666", GROUP="plugdev"
#HTC
SUBSYSTEM=="usb", SYSFS{idVendor}=="0bb4", MODE="0666", GROUP="plugdev"
#Huawei
SUBSYSTEM=="usb", SYSFS{idVendor}=="12d1", MODE="0666", GROUP="plugdev"
#K-Touch
SUBSYSTEM=="usb", SYSFS{idVendor}=="24e3", MODE="0666", GROUP="plugdev"
#KT Tech
SUBSYSTEM=="usb", SYSFS{idVendor}=="2116", MODE="0666", GROUP="plugdev"
#Kyocera
SUBSYSTEM=="usb", SYSFS{idVendor}=="0482", MODE="0666", GROUP="plugdev"
#Lenovo
SUBSYSTEM=="usb", SYSFS{idVendor}=="17ef", MODE="0666", GROUP="plugdev"
#LG
SUBSYSTEM=="usb", SYSFS{idVendor}=="1004", MODE="0666", GROUP="plugdev"
#Motorola
SUBSYSTEM=="usb", SYSFS{idVendor}=="22b8", MODE="0666", GROUP="plugdev"
#NEC
SUBSYSTEM=="usb", SYSFS{idVendor}=="0409", MODE="0666", GROUP="plugdev"
#Nook
SUBSYSTEM=="usb", SYSFS{idVendor}=="2080", MODE="0666", GROUP="plugdev"
#Nvidia
SUBSYSTEM=="usb", SYSFS{idVendor}=="0955", MODE="0666", GROUP="plugdev"
#OTGV
SUBSYSTEM=="usb", SYSFS{idVendor}=="2257", MODE="0666", GROUP="plugdev"
#Pantech
SUBSYSTEM=="usb", SYSFS{idVendor}=="10a9", MODE="0666", GROUP="plugdev"
#Pegatron
SUBSYSTEM=="usb", SYSFS{idVendor}=="1d4d", MODE="0666", GROUP="plugdev"
#Philips
SUBSYSTEM=="usb", SYSFS{idVendor}=="0471", MODE="0666", GROUP="plugdev"
#PMC-Sierra
SUBSYSTEM=="usb", SYSFS{idVendor}=="04da", MODE="0666", GROUP="plugdev"
#Qualcomm
SUBSYSTEM=="usb", SYSFS{idVendor}=="05c6", MODE="0666", GROUP="plugdev"
#SK Telesys
SUBSYSTEM=="usb", SYSFS{idVendor}=="1f53", MODE="0666", GROUP="plugdev"
#Samsung
SUBSYSTEM=="usb", SYSFS{idVendor}=="04e8", MODE="0666", GROUP="plugdev"
#Sharp
SUBSYSTEM=="usb", SYSFS{idVendor}=="04dd", MODE="0666", GROUP="plugdev"
#Sony
SUBSYSTEM=="usb", SYSFS{idVendor}=="054c", MODE="0666", GROUP="plugdev"
#Sony Ericsson
SUBSYSTEM=="usb", SYSFS{idVendor}=="0fce", MODE="0666", GROUP="plugdev"
#VIA-Telecom
SUBSYSTEM=="usb", SYSFS{idVendor}=="15eb", MODE="0666", GROUP="plugdev"
#Teleepoch
SUBSYSTEM=="usb", SYSFS{idVendor}=="2340", MODE="0666", GROUP="plugdev"
#Toshiba
SUBSYSTEM=="usb", SYSFS{idVendor}=="0930", MODE="0666", GROUP="plugdev"
#ZTE
SUBSYSTEM=="usb", SYSFS{idVendor}=="19d2", MODE="0666", GROUP="plugdev"
